/*Para el header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
}

#uno li {
    margin: 0;
}

header {
    border-bottom: 40px solid black; 
    padding-bottom: 10px;
    width: 100%;
    /*Imagen para el fondo*/  
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg);         
    /*Que la imagen cubra todo el header porque el tamaño era demasiado pequeño*/
    background-size: cover;
}

/*Hasta aquí el header*/

body{
    font-family: Arial, sans-serif; /*La tipografía de la página*/
    background-color: aliceblue;
}

h1{
    text-align: center; /*Centrar el título h1*/
    background-color: lightblue; /*Para darle color al fondo del título h1*/
    
}

.tabs{
    /*Para poder ordenar los elementos en una columna*/
    display: flex;
    flex-direction: column;
    max-width: 400px; /*ancho máximo del contenedor*/ 
    margin: auto; /*centra el contenedor horizontalmente en la página*/
}

.tab-label{
    padding: 10px 15px; /*Para que haya espacio 10px arriba y abajo y 15px a los lados*/
    background-color: #007bff; /*El color de los botones*/ 
    color: white; /*El color del texto de los botones*/
    cursor: pointer; /*Cambiar el puntero del ratón cuando le pones encima del botón sin haberlo pulsado*/
    border: 1px solid #ddd; /*Poner un borde con 1px de ancho, línea continua, y color gris*/
    border-radius: 5px; /*Para redondear las esquinas*/
    margin-bottom: 5px; /*Para hacer un margen debajo del tab-label*/
    text-align: center; /*Alinear el texto al centro*/
}

/*con hover, cuando pasamos el raton por encima se cambia el color del boton a un azul mas oscuro*/
.tab-label:hover{
    background-color: #0056b3;
}

/* Para ocultar los botones radio */
input[type="radio"] {
    display: none;
}

/*Cuando pulsemos una pestaña que se cambie el color a un azul más oscuro*/
input[type="radio"]:checked + .tab-label {
    background-color: #0056b3;
}

/*Ocultar el contenido de las pestañas por defecto*/
.tab-content {
    display: none;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/*Mostrar el contenido cuando el input está seleccionado*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6
{
    display: block;
}

/*FOOTER*/

footer {
    color: white;
    text-align: center;
    width: 100%; /* Ocupar todo el ancho de la ventana */
    background-color: #232F3E;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0; /* Asegura que no haya margen */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

p footer{
    background-color: #555;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
/*Hasta aquí el footer*/