/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
} 

.imgperfil{
    height: 55px;
    width: 55px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 100px;
    transition: transform 0.3s ease; /*Animación*/
}
.perfil{
    transform: translateX(180px);
}

.imgperfil:hover{
    transform: scale(1.3); /*Animación*/
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav a{
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
    padding: 7px;
    transition: transform 0.3s ease; /*Animación*/
}

.ventana:hover{
    background-color: lightskyblue;
    border-radius: 10px;
    transform: scale(1.3); /*Animación*/
}

.ventanaactual{
    transition: transform 0.3s ease; /*Animación*/
    transform: scale(1.3); /*Animación*/
    background-color: lightskyblue;
    border-radius: 10px;
}

#uno li {
    margin: 0;
}
header {
    border-bottom: 10px solid black; 
    padding-bottom: 10px;
    width: 100%;      
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg);
    background-size: cover    
}
/*FIN HEADER*/
body{
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
    border: solid;
    background-image: url(https://wallpaper.forfun.com/fetch/e7/e7bfc1edebf545897f7d266883c4a7f0.jpeg);
}

.cuerpo{
    padding-top: 5%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: aliceblue;
}

main{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.bienvenidos{
    background-color: lightskyblue;
}

#txtrecomendacion{
    font-size: 25px;
}
table{
    width: 100%;
    padding-bottom: 10%;
}
#titlrecomendaciones{
    font-size: 5vh;
}
#txtbienvenida{
    text-indent: 2em;
    text-align: justify;
}
.titllibros{
    background-color: blue;
    color: white;
}
/* Hasta aqui el BODY */
/* FOOTER */

footer {
    color: white;
    text-align: center;
    width: 100%; /* Ocupar todo el ancho de la ventana */
    background-color: #232F3E;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0; /* Asegura que no haya margen */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
    border-top: solid 10px black;
}

p footer{
    background-color: #555;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
/* Hasta aqui el FOOTER */

.imagenbiblio{
    width: 50%;
}

.imagenbiblio2{
    width: 45%;
}

.txtrecomendacion{
    margin: 15px;
}