*{
    background-color: #0072ab;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
}

#uno li {
    margin: 0;
}

header {
    border-bottom: 40px solid black; 
    padding-bottom: 10px;
    width: 100%;           
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding-bottom: 60px; /* Espacio reservado para el footer fijo */
    background-color: aliceblue;
}

div{
    width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    background-color: lightblue;
}
        /* Contenedor de la cuadrícula */
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            max-width: 800px;
            width: 100%;
        }

        /* Estilo para cada elemento de la cuadrícula */
        .grid-item {
            background-color: white;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Estilo para las imágenes */
        .grid-item img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        /* Estilo para los detalles */
        details {
            margin-top: 10px;
        }

        summary {
            font-weight: bold;
            cursor: pointer;
        }

        footer {
            background-color: #555;
            color: white;
            text-align: center;
            padding: 20px;
            width: 100%; /* Ocupa todo el ancho de la página */
            position: fixed; /* Fija el footer al fondo de la ventana */
            left: 0; /* Alinea el footer al borde izquierdo */
            bottom: 0; /* Alinea el footer al fondo */
            z-index: 10; /* Asegura que el footer esté sobre otros elementos */
        }
        

        p footer{
            background-color: #555;
        }

        footer a {
            color: #4CAF50;
            text-decoration: none;
            margin: 0 10px;
        }

        footer a:hover {
            text-decoration: underline;
        }