body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
}

#uno li {
    margin: 0;
}
header {
    border-bottom: 40px solid black; 
    padding-bottom: 10px;
    width: 100%;           
}

