
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
}

#uno li {
    margin: 0;
}
header {
    border-bottom: 40px solid black; 
    padding-bottom: 10px;
    width: 100%;      
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg);
    background-size: cover    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: aliceblue
}
main{
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
#txtrecomendacion{
    font-size: 25px;
}
table{
    width: 100%;
}
#titlrecomendaciones{
    font-size: 5vh;
}
#txtbienvenida{
    text-indent: 2em;
    text-align: justify;
}
.titllibros{
    background-color: blue;
    color: white;
}
/* Hasta aqui el BODY */
/* FOOTER */

footer {
    color: white;
    text-align: center;
    width: 100%; /* Ocupar todo el ancho de la ventana */
    background-color: #232F3E;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0; /* Asegura que no haya margen */
    margin-top: 2vw;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

p footer{
    background-color: #555;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
/* Hasta aqui el FOOTER */

