/*Para el header*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  border-radius: 20px;
}


.imgperfil{
  height: 55px;
  width: 55px;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  border-radius: 100px;
  transition: transform 0.3s ease; /*Animación*/
}

.imgperfil:hover{
  transform: scale(1.3); /*Animación*/
}

.perfil{
  transform: translateX(180px);
}
nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav img {
  margin-right: 80px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  margin-left: 80px;
  text-decoration: none;
  color: inherit;
  padding: 7px;
  transition: transform 0.3s ease; /*Animación*/
}

.ventana:hover{
  background-color: lightskyblue;
  border-radius: 10px;
  transform: scale(1.3); /*Animación*/
}

.ventanaactual{
  transition: transform 0.3s ease; /*Animación*/
  transform: scale(1.3); /*Animación*/
  background-color: lightskyblue;
  border-radius: 10px;
}

#uno li {
  margin: 0;
  font-weight: bold;
}

header {
  border-bottom: 10px solid black; 
  padding-bottom: 10px;
  width: 100%;
  /*Imagen para el fondo*/  
  background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg);         
  /*Que la imagen cubra todo el header porque el tamaño era demasiado pequeño*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Hasta aquí el header*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
  
h1 {
  margin: 20px;
  font-size: 2.5em;
  color: black;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 12em);
  grid-gap: 10px;
  justify-content: center;
  padding-bottom: 3em;
}

.card {
  width: 12em;
  height: 12em;
  background-color: #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* Las imágenes están ocultas inicialmente */
}

.card.flipped img {
  display: block; /* Muestra la imagen al voltear la carta */
}

.card.flipped {
  background-color: #fff; /* Opcional: cambia el fondo de la carta volteada */
}
.cuerpo{
  padding-top: 1%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: aliceblue;
}

/* FOOTER */

footer {
  color: white;
  text-align: center;
  width: 100%; /* Ocupar todo el ancho de la ventana */
  background-color: #232F3E;
  padding: 20px;
  position: relative;
  left: 0;
  right: 0;
  margin: 0; /* Asegura que no haya margen */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
  border-top: 10px solid black;
}

footer p{
  text-align: center;
  margin: 1em;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, sans-serif;
  border: solid;
  background-image: url(https://wallpaper.forfun.com/fetch/e7/e7bfc1edebf545897f7d266883c4a7f0.jpeg);
}

/* MEDIA QUERIES */
/*Pantallas muy grandes 4k*/
@media (min-width: 2560px){
  /*Tamaño del botón que dirige a mi perfil*/
  .imgperfil {
      height: 80px;
      width: 80px;
  }

  /*Tamaño de letra del texto de las ventanas*/
  nav a {
      margin-left: 0;
      margin-bottom: 10px;
      font-size: 2rem;

  }

  /*Más espacio entre las ventanas que dirigen a las demás páginas*/
  .ventanas{
      display: flex;
      justify-content: space-between;
      gap: 50px;
  }

  /*Título del header (Biblioteca Municipal de Muskiz...)*/
  nav ul li {
      font-size: 2rem;
  }

  /*Texto del footer más grande*/
  footer p{
      font-size: 2rem;
  }
}


/* Pantallas grandes (desktop) */

/* Pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  header {
      flex-direction: column;
  }

  nav {
      flex-wrap: wrap;
  }

  .imgperfil {
      height: 55px;
      width: 55px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  nav {
      flex-direction: column;
      align-items: center;
  }

  nav a {
      margin-left: 0;
      margin-bottom: 10px;
      font-size: 1rem;
  }

  .imgperfil {
      height: 45px;
      width: 45px;
  }

  footer {
      padding: 10px;
  }

  .cuerpo{
      padding: 10%;}

}

@media (max-width: 1023px){
  .card{
    width: 5em;
    height: 5em;
  }

  .game-board{
    display: grid;
    grid-template-columns: repeat(4, 5em);
    grid-gap: 1px;
  }
} 

@media (max-width: 425px){
  .card{
    width: 3em;
    height: 3em;
  }

  .game-board{
    display: grid; 
    grid-template-columns: repeat(4, 3em);
    grid-gap: 1px;
  }
}
