/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg);
    background-size: cover;
    border-bottom: 10px solid black; 
    padding-bottom: 10px;
    width: 100%;    
}

.logo{
    border-radius: 20px;
}


nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav img {
    margin-right: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
    color: inherit;
    padding: 7px;
    transition: transform 0.3s ease; /*Animación*/
}

.ventana:hover{
    background-color: lightskyblue;
    border-radius: 10px;
    transform: scale(1.3); /*Animación*/
}

#uno li {
    margin: 0;
    font-weight: bold;
}

.imgperfil{
    height: 55px;
    width: 55px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 100px;
    transition: transform 0.3s ease; /*Animación*/
}

.imgperfil:hover{
    transform: scale(1.3); /*Animación*/
}

.perfil{
    transform: translateX(180px);
}
/* Hasta aqui el HEADER */

body{
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
    border: solid;
    background-image: url(https://wallpaper.forfun.com/fetch/e7/e7bfc1edebf545897f7d266883c4a7f0.jpeg);
}

.cuerpo{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: aliceblue;
}

h1{
    text-align: center; /*Centrar el título h1*/
    background-color: lightskyblue; /*Para darle color al fondo del título h1*/
    margin-left: 25%;
    margin-right: 25%;
    
}

.registrolibro{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* FOOTER */

footer {
    color: white;
    text-align: center;
    width: 100%; /* Ocupar todo el ancho de la ventana */
    background-color: #232F3E;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0; /* Asegura que no haya margen */
    border-top: 10px solid black;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

footer p{
    text-align: center;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}